<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moviehall</title>
    {% extends 'homepage.html' %}
</head>
{% block content %}
<style>
    .show ul{
        margin-bottom: 5px; 
        color: rgb(18, 152, 9); 
        display: flex; 
        list-style-type: none;
    } 
    .show li{
        margin-right: 20px; 
        border: 1px solid; 
        padding: 5px; 
        border-radius: 5px;
    }
    .show a{
        text-decoration: none;
        color: inherit;
    }
    .hall{
        margin:20px 3%; display: flex;
    }
</style>
<body>
    <div style="margin: 0px 9%;">
        <h1 style="margin-bottom: 5px;">{{movie}}</h1>
        <ul style="list-style-type: none;display: flex; margin: 0;">
            <li style="margin-right: 10px; border: 1px solid; border-radius: 10px; padding: 1px 5px;">Action</li>
            <li style="margin-right: 10px; border: 1px solid; border-radius: 10px; padding: 1px 5px;">Comedy</li>
            <li style="border: 1px solid; border-radius: 10px; padding: 1px 5px;">Romantic</li>
        </ul>
        <hr>
        <div style="color: #f5f5f5;">
        <ul style="list-style-type: none; display: flex; font-size:15px">
        <li style="margin-right: 10px; color:black;">Select date : </li>
        <li style="margin-right: 50%;  color:black;"><input type="date" name="date" required></li>
        <li style="margin-right: 30px; color:black;">Telugu</li><li style="margin-right: 30px; color: black;">Filter Price Range</li><li style="color: black;">Filter Show Timings</li></ul>
        </div>
        <hr>
        <div class="hall">
            <div>
            <h5 style="margin-bottom: 5px;">Arjun 70 MM cinemas: KPHB</h5>
            <p style="color: rgb(13, 150, 165); margin: 0;">M-Ticket, Food & Beverage</p>
            </div>
            <div class="show">
            <ul>
                <li><a href="{{url_for('seats',movie=movie,hall='Arjun 70 MM cinemas: KPHB',time='03:00 PM')}}">03:00 PM</a></li>
                <li><a href="{{url_for('seats',movie=movie,hall='Arjun 70 MM cinemas: KPHB',time='06:00 PM')}}">06:00 PM</a></li>
                <li><a href="{{url_for('seats',movie=movie,hall='Arjun 70 MM cinemas: KPHB',time='09:00 PM')}}">09:00 PM</a></li>
            </ul>
            <p style="margin-left: 40px; color: rgb(237, 27, 27);">* Non-cancellable</p>
            </div>
        </div>
        <div class="hall">
            <div>
            <h5 style="margin-bottom: 5px;">Viswanath cinemas: KPHB</h5>
            <p style="color: rgb(13, 150, 165); margin: 0;">M-Ticket, Food & Beverage</p>
            </div>
            <div class="show">
            <ul>
                <li><a href="{{url_for('seats',movie=movie,hall='Viswanath cinemas: KPHB',time='03:00 PM')}}">03:00 PM</a></li>
                <li><a href="{{url_for('seats',movie=movie,hall='Viswanath cinemas: KPHB',time='06:00 PM')}}">06:00 PM</a></li>
                <li><a href="{{url_for('seats',movie=movie,hall='Viswanath cinemas: KPHB',time='09:00 PM')}}">09:00 PM</a></li>
            </ul>
            <p style="margin-left: 40px; color: rgb(237, 27, 27);">* Non-cancellable</p>
            </div> 
        </div>
        <div class="hall">
            <div>
            <h5 style="margin-bottom: 5px;">AAA cinemas: Ameerpet</h5>
            <p style="color: rgb(13, 150, 165); margin: 0;">M-Ticket, Food & Beverage</p>
            </div>
           
            <div class="show">
            <ul>
                <li><a href="{{url_for('seats',movie=movie,hall='AAA cinemas: Ameerpet',time='03:00 PM')}}">03:00 PM</a></li>
                <li><a href="{{url_for('seats',movie=movie,hall='AAA cinemas: Ameerpet',time='06:00 PM')}}">06:00 PM</a></li>
                <li><a href="{{url_for('seats',movie=movie,hall='AAA cinemas: Ameerpet',time='09:00 PM')}}">09:00 PM</a></li>
            </ul>
            <p style="margin-left: 40px; color: rgb(237, 27, 27);">* Non-cancellable</p></div>
        </div>
    </div>
    {% endblock %}
</body>
</html>