<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sankranthiki Vastunam</title>
    {% extends 'homepage.html' %}
</head>
{% block content %}
<body>

<div style="background-color:rgb(54, 53, 53)">
<div style="margin: 0px 9%;">
<div style="display: flex; width: 100%; flex-shrink: 0; color: white;">
<div style="margin: 30px 0px;">
<img style=" width: 220px; height: 350px; border-radius: 10px;" src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC4zLzEwICA0NTQuNUsgVm90ZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00356724-dynwtezcja-portrait.jpg" alt="Pushpa">
</div>
<div style="margin: 70px 60px;">
    <h2><b>Pushpa 2: The Rule</b></h2>
    <a href="#"><button style="padding: 2px 10px; margin-bottom: 10px;">2D, IMAX 2D, 3D, 4DX, IMAX 3D, 4DX 3D</button></a><br>
    <a href="#"><button style="padding: 2px 10px;">Telugu, kannada, Tamil, Hindi, Malayalam, Bengali</button></a><br><br>
    <ul style="display:flex; margin-left: 0px;">
        <span>2h 24m</span>
        <li style="margin: 0px 30px;">Action, Thriller</li>
        <li style="margin-right: 30px;">UA 16+</li><li>5 Dec, 2024</li>
    </ul>
    <a href="{{url_for('moviehall',movie='Pushpa 2: The Rule')}}"><button style="background-color: rgb(248, 68, 100); color: white; padding: 10px 30px; border:1px solid rgb(248, 68, 100); border-radius: 8px;">Book tickets</button></a>
</div>
</div>
</div>
</div>
<div style="margin: 30px 9%;">
    <h4><b>About the movie</b></h4>
    <p> Pushpa 2: The Rule picks up from the explosive events of the first part, following Pushpa`s meteoric rise as he expands his red sandalwood empire beyond borders. As tensions escalate with rival factions and the authorities, his growing ambitions draw him into intense confrontations and political upheavals.
    </p></div>
</body>
{% endblock %}
</html>