<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sankranthiki Vastunam</title>
    {% extends 'homepage.html' %}
</head>
{% block content %}
<body>

<div style="background-color:rgb(54, 53, 53)">
<div style="margin: 0px 9%;">
<div style="display: flex; width: 100%; flex-shrink: 0; color: white;">
<div style="margin: 30px 0px;">
<img style=" width: 220px; height: 350px; border-radius: 10px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZuEtP4toL07rqD44Sf8p8R3kf0xPf7XAxOA&s" alt="sankranthi">
</div>
<div style="margin: 70px 60px;">
    <h2><b>Sankranthiki Vastunam</b></h2>
    <a href="#"><button style="padding: 2px 10px;">2D</button></a>
    <a href="#"><button style="padding: 2px 10px;">Telugu</button></a><br><br>
    <ul style="display:flex; margin-left: 0px;">
        <span>2h 24m</span>
        <li style="margin: 0px 30px;">Action, Comedy, Romantic</li>
        <li style="margin-right: 30px;">UA 13+</li><li>14 Jan, 2025</li>
    </ul>
    <a href="{{url_for('moviehall',movie='Sankranthiki Vastunam')}}"><button style="background-color: rgb(248, 68, 100); color: white; padding: 10px 30px; border:1px solid rgb(248, 68, 100); border-radius: 8px;">Book tickets</button></a>
</div>
</div>
</div>
</div>
<div style="margin: 30px 9%;">
    <h4><b>About the movie</b></h4>
    <p> A triangular crime comedy promising laughter and thrills, hitting cinemas this Sankranthi 2025 for the perfect festive entertainment!</p>
    </div>
</body>
{% endblock %}
</html>